.responsive-background-object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden
}

.responsive-background-object article,.responsive-background-object div {
  height: 100%
}

.responsive-background-object picture {
  display: block;
  height: 100%
}

.responsive-background-object img,.responsive-background-object video,.responsive-background-object iframe {
  width: 100%;
  height: 100%;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
  .responsive-background-object img,.responsive-background-object video,.responsive-background-object iframe {
    width: auto;
    max-width: inherit;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    margin: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 50%;
  }
}
