{#
/**
 * @file
 * Theme override of a responsive image.
 *
 * Available variables:
 * - sources: The attributes of the <source> tags for this <picture> tag.
 * - img_element: The controlling image, with the fallback image in srcset.
 * - output_image_tag: Whether or not to output an <img> tag instead of a
 *   <picture> tag.
 *
 * @see template_preprocess()
 * @see template_preprocess_responsive_image()
 */
#}
<div {{ wrapper_attributes }}>
  {% if output_image_tag %}
    {{ img_element }}
  {% else %}
    <picture>
      {% if sources %}
        {% for source_attributes in sources %}
          {# need to ensure the sizes attribute exist, there is something (lazy?) stripping it out. #}
          {% if wrapper_attibutes.hasClass('adaptive-image') %}
            <source{{ source_attributes.setAttribute('sizes', '1px') }}/>
          {% else %}
            <source{{ source_attributes }}/>
          {% endif %}
        {% endfor %}
      {% endif %}
      {# The controlling image, with the fallback image in srcset. #}
      {{ img_element }}
    </picture>
  {% endif %}
</div>
